*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f2f2f2;
}

/* Estilos cabecera */
header{
    width: 1212px;
    height: 140px;
    background-color: #233b3b;
    margin: 0 auto;
}

#logotipo{
    width: 50%;
    height: 140px;
    margin: 0 auto;
    padding-top: 10px;
}

#logotipo img{
    display: block;
    float: left;
    width: 35px;
    margin-top: 35px;
}



#logotipo h1{
    display: block;
    letter-spacing: 2px;
    margin-left: 20px;
    float: left;
    margin-top: 35px;
    font-weight: lighter;
    color: #2ba977;
}

/* Estilos barra navegacion */

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1B1E1F;
    border: 1px solid #333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
  
}

nav > ul{
    list-style: none;
    text-decoration: none;
}

nav > ul > li{
    line-height: 40px;
    float: left;
    text-decoration: none;
}

nav > ul > li > ul{
    display: none;
    position: absolute;
    color: wheat;
    text-align: left;
    box-shadow: 0px 2px 2px gray;

}

nav > ul > li:hover > ul{
    display: block;
    color: wheat;
    margin: 0px;
    list-style: none;
}

nav > ul > li:hover > ul > li{
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
}

nav > ul > li:hover > ul > li a{
    color:#666;
    text-decoration: none;
}

nav > ul > li:hover > ul > li:hover{
    background-color:#2ba977;
}

nav > ul > li:hover > ul > li:hover a{
    color:white;
    display: block;
}

nav > ul > li > a{
    display: block;
    padding-left:15px;
    padding-right: 15px;
    color: #d1d4d6;
    text-decoration: none;
}

nav ul li a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #333 inset;
    color:white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float:left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float:right;
}

.relleno-barra{
    display: block;
    width: 1210px;
    background-color: #2B2F30;
    height: 10px;
    float: left;
}

/* Estilos contenido central */

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    margin:0 auto;
    border-radius: 2px;
}

.box a{
    color: #2d2d2d;
}

.box a:hover{
    color:#2ba977;
}

.title{
    color:#444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.article-items{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear: both;
}

.article-items .image img{
    height: 200px;
}

.article-items .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.article-items .image{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

footer{
    width: 1250px;
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #d1d1d1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
}

.box p, .box h2, .box h3, .box ul{
    margin-top:5px;
    margin-bottom: 5px;
}

.box .box ul, .box ol{
    margin-left: 20px;
}

.box form{
    width: 50%;
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form select{
    width: 100px;
    padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 10px;
    background-color: green;
    border: 1px solid black;
    color: #fff;
    transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(3, 92, 3);
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    transition: 300ms all;
}

.clearfix{
    clear: both;
    float: none;
}

.rojo{
    color:red;
    box-shadow: 0px 0px 4px black;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea{
    width: 100%;
    margin-bottom: 10px;
}

.message,
.alert-success,
.alert{
    padding: 5px;
    background: cadetblue;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.alert-warning{
    background: red;
}

.date{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
}

.content{
    line-height: 20px;
}